<nav class="top-nav">

  <div class="egwk-logo button" routerLink="/"></div>

  <ul class="links">
    <li><a routerLink="books" i18n="@@top-nav-books">Books</a></li>
    <li><a routerLink="bible" i18n="@@top-nav-bible">Bible</a></li>
    <li><a routerLink="hymnals" i18n="@@top-nav-hymnals">Hymnals</a></li>
    <li><a routerLink="ssq" i18n="@@top-nav-ssq">SSQ</a></li>
    <li><a routerLink="synch" i18n="@@top-nav-synch">Synch</a></li>
    <li><input type="text" placeholder="Search" i18n-placeholder="@@top-nav-search" name="search"></li>
    <li><a routerLink="/auth/login" i18n="@@top-nav-synch">Login</a></li>
  </ul>
</nav>

<div id="egwk-body">

  <router-outlet #routerOutlet="outlet"></router-outlet>

</div>

