@import '../../colors.scss';
@import '../../variables.scss';

:host {
  width: 100%;
}

.breadcrumbs {
  margin: $topmargin 0;
  font-size: $small-font;
  background-color: $egwk-light-gray;
  padding: 1rem;
}


.breadcrumb-item + .breadcrumb-item:before {
  content: " · ";
  font-weight: bold;
}

.material-icons {
  font-size: 0.85rem;
  vertical-align: text-top;
  height: 14px;
  width: 16px;
}
