<div class="egwk-dashboard-buttons flex-center">
  <!--<a routerLink="/bible" id="egwk-dashboard-button-bible" class="egwk-dashboard-button button">-->
    <!--<span class="egwk-dashboard-button-title" i18n>Bible</span>-->
  <!--</a>-->
  <a routerLink="/books" id="egwk-dashboard-button-books" class="egwk-dashboard-button button">
    <span class="egwk-dashboard-button-title" i18n>Books</span>
  </a>
  <a routerLink="/search" id="egwk-dashboard-button-search" class="egwk-dashboard-button button">
    <span class="egwk-dashboard-button-title" i18n>Search</span>
  </a>
  <a routerLink="/hymnals" id="egwk-dashboard-button-hymnals" class="egwk-dashboard-button button">
    <span class="egwk-dashboard-button-title" i18n>Hymnals</span>
  </a>
  <!--<a routerLink="/ssq" id="egwk-dashboard-button-ssq" class="egwk-dashboard-button button">-->
    <!--<span class="egwk-dashboard-button-title" i18n>Sabbath School</span>-->
  <!--</a>-->
  <a routerLink="/synch" *ngIf="hasPermission('synch')" id="egwk-dashboard-button-synch" class="egwk-dashboard-button button">
    <span class="egwk-dashboard-button-title" i18n>Synch</span>
  </a>

  <!-- img src="assets/images/buttons/books.jpg" class="egwk-dashboard-button button"/ -->
  <!-- img src="assets/images/buttons/datamining.jpg" class="egwk-dashboard-button"/ -->
  <!-- img src="assets/images/buttons/gallery.jpg" class="egwk-dashboard-button"/ -->
  <!-- img src="assets/images/buttons/research.jpg" class="egwk-dashboard-button button"/ -->
</div>
