.egwk-hymn {
  width: 100%;
}

.egwk-hymn h1{
  font-size: 1.3em;
  text-align: center;
}

.egwk-hymn-verse-no {
  margin-right: 1em;
}

.egwk-hymn-wrapper {
  width: 20rem;
  margin: 30px auto;
  padding: 5px;
}

.egwk-hymn-verse {
  margin-top: 20px;
  cursor: pointer;
}

.egwk-hymn-metadata{
  font-size: 0.75rem;
}
