<div class="egwk-hymnals">
  <div class="egwk-hymnal-list-wrapper">
    <div class="egwk-hymnal-item" [routerLink]="getHymnalUrl(hymnal)" *ngFor="let hymnal of hymnals">
      <p class="egwk-hymnal-item-title">{{ hymnal.title }}</p>
      <p class="egwk-hymnal-item-publisher-and-year" *ngIf="hymnal.publisher && hymnal.year">{{ hymnal.publisher }},
        {{ hymnal.year }}</p>
      <!--<p class="egwk-hymnal-item-lang">{{ hymnal.lang }}</p>-->
      <!--<p class="egwk-hymnal-item-description">{{ hymnal.description }}</p>-->
    </div>
  </div>
</div>
