@import '../../../colors.scss';
@import '../../../variables.scss';

.egwk-search-result-book-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.egwk-search-result-chapter-title {
  font-size: 1.1rem;
}

.egwk-refcode {
}

.egwk-search-result-coverage {
  font-family: monospace;
  font-size: $small-font;
}

.egwk-search-tools-button {
  user-select: none;
  cursor: pointer;

  & .mat-icon {
    vertical-align: middle;
  }
}

.egwk-search-paragraph {
  display: flex;
  justify-content: space-between;

  p.has-translation {
    width: 49%;
  }

  p.has-translation.is-original {
    margin-top: 68px;
  }
}
