@import '../../colors.scss';
@import '../../variables.scss';

.egwk-hymnal {
  width: 100%;
}

@media (min-width: $with-mobile) {
  .egwk-hymn-list-wrapper {
    width: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: $with-mobile) {
  .egwk-hymn-list-wrapper {
    margin: 0 $sidemargin;
  }
}

.egwk-hymn-item {
  cursor: pointer;
}
