$egwk-primary:  #01596b;
$egwk-primary-light: #80ACB5;
$egwk-primary-lighter: #D0E0E4;

$egwk-danger: #F4476B;
$egwk-danger-light: #FAABBB;
$egwk-danger-lighter: #FDDDE4;

$egwk-black: #000;
$egwk-gray-80: rgba(#636b6f, .5);
$egwk-gray:  #636b6f;
$egwk-white: #fff;
