@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'colors.scss';
@import 'variables.scss';

/* Fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(/assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $egwk-white;
  height: 100vh;
  color: $egwk-gray;
}

html, body, textarea {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 14pt;
  line-height: 1.5em;
}

a {
  color: $egwk-primary;
  text-decoration: none;

  &:hover {
    color: $egwk-primary-lighter;
    cursor: pointer;
  }
}

.full-height {
  height: calc(100vh - 2 * #{$topmargin});
}

.half-height {
  height: 50vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav.top-nav {
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 8px 0;
  background-color: $egwk-white;
  display: flex;
  justify-content: space-between;
}


.egwk-logo {
  background: url('./assets/images/egw_signo-ocean-side.svg') no-repeat;
  background-size: 60px;
  background-position-y: center;
  background-position-x: 8px;
  width: 100px;
}

#egwk-body {
  padding: 0;
}

.links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;

  li {
    padding: 0 8px;

    a {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .1rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    input[type='text'] {
      border-radius: 16px;
      border: 1px solid $egwk-gray-80;
      outline: none;
      padding: 8px;
      width: 32px;
      margin-right: 12px;
      transition: width 0.125s ease-in-out;

      &:focus {
        width: 160px;

        &::placeholder {
          font-size: 1em;
        }
      }

      &::placeholder {
        line-height: 1em;
        font-size: 0.75em;
      }
    }
  }
}

#headline {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 70px;
}

.upside-down {
  transform: rotate(180deg);
}

.search-highlight {
  background-color: $egwk-primary;
  color: $egwk-white;
}

.no-select {
  user-select: none;
}

del {
  text-decoration: none;
  background-color: $egwk-danger-lighter;
}

ins {
  text-decoration: none;
  background-color: $egwk-primary-lighter;
}

.slider-percentage {
  width: 50px;
  display: inline-block;
}

.hidden {
  display: none;
}

@media (max-width: $with-mobile) {
  .hidden-on-mobile {
    display: none;
  }
}

@media (min-width: $with-mobile) {
  .hidden-on-not-mobile {
    display: none !important;
  }
}


.button, .router-link {
  cursor: pointer;
}

.top-padding {
  padding-top: $topmargin;
}

@media (max-width: $with-mobile) {
  .top-padding {
    padding-top: calc(2 * #{$topmargin});
  }
}

section {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

section > * {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  color: $egwk-primary;
}

p, article {
  margin: 1rem auto;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.33rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.sda-symbol{

}
